/*#writeforsch{border: 1px solid #dddddd;
border-radius: 10px 0px;padding: 8 0;
background-image:url(../icon/card.png);background-size:60px;display:none;}*/


.writeoptions {cursor: hand;
width: 59px;
height: 40px;
font-size: 13px;
float:left;
line-height:77px;
background-color: #FFF;
text-align: center;
background-repeat: no-repeat;
background-position: center 3;
margin:5px;
margin-top:3px;
opacity:0.3
}
#titletoggles{background-image:url(../icon/title.png);background-size: 80px;background-position: center -4;}
#cardtoggles{background-image:url(../icon/cards.png);background-size: 31px;background-position: center 6;}
#uploadtoggles{background-image:url(../icon/upload.png);background-size: 27px;}
#anonytoggles{background-image:url(../icon/anony.png);background-size: 28px;}
.togglewrap{overflow: hidden;
margin: auto;
width: 288;padding-left: 28;}