.groupsettings, .pubsettings{height:31px;margin:4px;float:left;width:50%; border-radius:5px;padding:3px; border:1px solid #dddddd;font-size:20px;}
.color{float:left;width:20%;padding:5px;border:none;font-family:dek;font-size:13px;border-radius:5px;height:30px;margin:5px 0px 0px 10px; text-align:center;}
.select {font-size: 18px;font-family:lexi;}
.mygroups{clear:both;margin:auto;padding:10px;width:80%;}
.delgroups{margin:10px;float:left;}
#groupset{position:absolute;width:100%}
.wrapgroup{list-style:none;width:80%;margin:auto;clear:both;text-align:center;border:1px solid #dddddd;overflow:auto;border-radius:10px;padding:10px;margin-top:10px;margin-bottom:10px;}
.plusminus{font-family:dek;font-size:20px;cursor:hand;color:#777777}
.plusminus:hover{color:#000}
.setitle{font-family:dek;font-weight:500;font-size:25;}

	.jukyong{cursor:hand;width:200px;margin:auto;border:1px solid #dddddd;color:#777777;border-radius:30px;font-size:30px;z-index:3;background-color:#F4F4F4;text-align:center;padding:10px}
	
	.jukyong:hover{color:#000;background-color:#f9f9f9;}

.checkbox{background-size:30px;width:30px;height:30px;border:1px solid #dddddd;float:left;margin-top:4px;margin-right:10px}
.onmenupan{float:left;min-width:50px;padding:5px;border: 1px solid #dddddd;margin:5px;border-radius:5px;background-color:#fFF}
.onmenupan:hover, .onmenupan:focus, .onmenupan:active{background-color:#F4F4F4}
