html,body{height:100%;padding:0;margin:0;overflow-x:hidden;}
.dek {font-family:dek;}
.menu li:first-child {
    background:#5b57ff;
	width: 130px;
    height: 130px;
	bottom:-105px;
	right:25px;
	line-height:130px;
	text-align:center;
	font-size:35px
	}
.menu li {
    background:#000;
    color:#fff;
    font-size:25px;
	width: 80px;
    height: 80px;
	line-height:80px;
}
.menu a{
	margin:auto;
    text-decoration: none;
    color:#fff;
	        display: block;
            text-align: center;
            width:80;
            
			
}


.menu{position:fixed;z-index:500;width:80;}

#menu{
    right:-10px;
    bottom:120px;
}


.mordentitle{text-align:center;width:240;background-color:rgba(255,255,255,0.7);font-size:20px;z-index:10;}
.margin{margin:10}
	